*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
header{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
header::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 31, 31);
    text-align: center;
}
nav li{
    float: left;
    
    height: 40px;
    border: 1px solid lightgreen;
    width: 100px;
}
nav a{
    text-decoration: none;
    color: rgb(241, 234, 234);
    display: block
}
nav a:hover, a:active{
    background-color: blueviolet;
    color:brown;
}
.box{
    width: 100%;
    background-color: gray;
}
h3{
    text-align: center;
    padding: 17px;
    font-size: 27px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.gallery{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
    
}
.gallery img{
    height: 250px;
    padding: 7px;
    
}
.about{
    background-color: rgb(23, 116, 116);
    border-radius: 7px;
}
h4{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 37px;
    text-transform: uppercase;
    padding: 17px;
}
p{
    font-family: sans-serif;
    font-style: italic;
    padding: 7px;
    
}
footer{
    position: relative;
    bottom: 0px;
    background-color: rgb(27, 24, 24);
    width: 100%;
    padding: 10px;
    height: 57px;
    border-radius: 7px;
}
footer p{
    color:aliceblue;
    text-align: center;
}